SetEnv APPLICATION_ENV development
RewriteEngine on

AddCharset utf-8 .js

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule !\.(js|ico|txt|gif|jpg|png|css)$ index.php

#
DirectoryIndex index.html index.htm index.shtml index.cgi index.php3 index.php
